body {
	background-color: #101010;
}

nav {
	background-color: #101010 !important;
}
nav img {
	height: 3em;
}

/*foooter*/

footer {
	height: 70px;
}

footer ul {
	display: inline-block;
}

footer ul li {
	list-style-type: none;
}

footer .btn {
	border: solid 3px #5a5a5a;
}

.move {
	display: flex;
}
